<!DOCTYPE html>
<html lang="en">
	<head>
		{block head}
			<link rel="stylesheet" href="assets/css/style.css" />
			<title>Your app</title>
		{/block}
	</head>
	<body>
		{block content}{/block}
	</body>
</html>